
# shimbo's voron trident cfg smilew
# V1.4 ACTH Test

#####################################################################
#   includes and shit
#####################################################################

[include mainsail.cfg]
[include timelapse.cfg]
[include ./macro-shit/*.cfg]
[include chopper_tune.cfg]
[include gcode_macro.cfg]

#####################################################################
# 	mcu setup
#####################################################################

[mcu]
canbus_uuid: b32cfffff342

[mcu EBBCan]
canbus_uuid: d7ade03dbecf

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu cartographer]
canbus_uuid: 9a4d486e8b55

[mcu flyadxl]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6647C74034B0C37-if00
is_non_critical: true

[cartographer]
mcu: cartographer
x_offset: 0                       # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 21                      # This is the offset of your probe from the nozzle tip, to the centre of the coil.
travel_speed: 500
verbose: yes                      # For extra output

#####################################################################
# 	printer definitions
#####################################################################

[printer]
kinematics: corexy
max_velocity: 1000
# max_y_accel: 60000
# max_x_accel: 100000
# scale_xy_accel: true
max_accel: 60000
minimum_cruise_ratio: 0.25
max_z_velocity: 30
max_z_accel: 1400
square_corner_velocity: 15

[firmware_retraction]
retract_length: 0.6
retract_speed: 65 
unretract_speed: 60

[input_shaper]
##  A frequency (in Hz) of the input shaper for X or Y axis. 
shaper_type_x: smooth_mzv
shaper_type_y: smooth_mzv
smoother_freq_x: 72.8
smoother_freq_y: 53.0

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 30
# keep_raw_csv: False
show_macros_in_webui: True
# timeout: 300

[gcode_arcs]
resolution: 0.6
[exclude_object]
[respond]

[pause_resume]
recover_velocity: 500

#####################################################################
# 	danger klipper      https://dangerklipper.io/Config_Reference.htm
#####################################################################

[force_move]
enable_force_move: True

[danger_options]
homing_start_delay: 0.001
endstop_sample_count: 1
#minimal_logging: False
log_shutdown_info: True
log_config_file_at_startup: False
log_statistics: False

# [stepper_x]
# high_precision_step_compress: true

# [stepper_y]
# high_precision_step_compress: true

# [input_shaper]
# enabled_extruders: extruder

[extruder]
#control: mpc
heater_power: 100 #65  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 


#####################################################################
# 	Safety Shit
#####################################################################

[verify_heater extruder]

[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10
max_error: 60

[idle_timeout]
timeout: 6000

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_y]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: ^!PF4
position_min: 0
position_endstop: 310
position_max: 310
homing_speed: 140  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PC13
# spi_bus: spi2
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
diag0_pin: ^!PF3
sense_resistor: 0.075
interpolate: false
run_current: 2.2 #1.95
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 1
driver_HSTRT: 2
driver_HEND: 3
driver_TPFD: 5

## Y Stepper on Motor2 (A Motor)
[stepper_x]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200  
endstop_pin: ^!EBBCan: PB6
position_min: 0
position_endstop: 290       #290-14 due to clips
position_max: 296
homing_speed: 140   
homing_retract_dist: 75
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PE3
# spi_bus: spi2
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
diag0_pin: ^!PF3
sense_resistor: 0.075
interpolate: false
run_current: 2.2 #1.95
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 1
driver_HSTRT: 2
driver_HEND: 3
driver_TPFD: 5

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
rotation_distance: 4 
microsteps: 32
endstop_pin: probe:z_virtual_endstop # use cartographer as virtual endstop
position_max: 240
position_min: -5 # -2.5
homing_speed: 8.0 
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PG10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PC7
dir_pin: !PC8
enable_pin: !PD2
rotation_distance: 4
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC6
interpolate: true
run_current: 1
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
rotation_distance: 4
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PD5
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
heater_pin: EBBCan: PB13

rotation_distance:5.66523 # 10t   # 4.532184 #8t
microsteps: 16
full_steps_per_rotation: 200           #200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.75
pressure_advance: 0.02
pressure_advance_smooth_time: 0.004   # 0.042

sensor_type: PT1000
sensor_pin: EBBCan: PA3
pullup_resistor: 2200
min_temp: -270
max_temp: 500
max_power: 1.0
min_extrude_temp: 20
max_extrude_only_distance: 5000.0

[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0

[filament_switch_sensor switch_sensor]
switch_pin: ^PF2
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
  {action_respond_info("Runout Switch~")}
  SET_DISPLAY_TEXT MSG="Runout Switch~"
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: ^!PF1
detection_length: 12 # 8.64
extruder: extruder
pause_on_runout: False
runout_gcode:
  # PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder runout
    {action_respond_info("Runout encoder~")}
  SET_DISPLAY_TEXT MSG="Runout encoder~"
insert_gcode:
  M117 Filament encoder inserted

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - HE1
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1
min_temp: -20
max_temp: 115       # 125c thermal fuse

#####################################################################
# 	Thermister Settings
#####################################################################

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 150

[temperature_sensor Chamber]
sensor_type: MAX31865
sensor_pin: PG14
spi_speed: 4000000
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
min_temp: -270
max_temp: 270

[temperature_sensor Pi_CM4]
sensor_type: temperature_host
min_temp: -270
max_temp: 270

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu
min_temp: -270
max_temp: 270

[temperature_sensor Ebb36]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

# [temperature_sensor MotorRL]
# sensor_type: PT1000
# pullup_resistor: 2200
# sensor_pin: PB0
# min_temp: -20
# max_temp: 130

# [temperature_sensor MotorRR]
# sensor_type: PT1000
# pullup_resistor: 2200
# sensor_pin: PC5
# min_temp: -20
# max_temp: 130

#####################################################################
# 	Fan Control
#####################################################################

[duplicate_pin_override]
pins: EBBCan: PA1, PG14, PF6, PB1, PF8, PF9, PA4, PB0, rpi:gpio26, PA6, PA2

[fan]                       # cpap part cooling fan
pin: PC15 # endstop 5
cycle_time: 0.00004
kick_start_time: 0.5

[heater_fan hotend_fan]     # nozzle fan
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
shutdown_speed: 1
heater_temp: 60.0

[temperature_fan MCU]
pin: PF7
cycle_time: 0.0100
hardware_pwm: false 
max_power: 1
max_speed: 1.0
min_speed: 0
shutdown_speed: 0
sensor_type: temperature_host
min_temp: -10
max_temp: 90
control: pid
pid_Kp: 4.0
pid_Ki: 1
pid_Kd: 0.2
pid_deriv_time: 2.0
target_temp: 75.0
max_speed: 1.0
min_speed: 0

[output_pin Exhaust]
pin: PF9
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0

[temperature_fan Exhaust]
pin: PF9
cycle_time: 0.0100
hardware_pwm: false 
max_power: 1
max_speed: 1.0
min_speed: 0
shutdown_speed: 0
sensor_type: MAX31865
sensor_pin: PG14
spi_speed: 4000000
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
min_temp: -270
max_temp: 270
control: pid
gcode_id: C
pid_Kp: 4.0
pid_Ki: 1
pid_Kd: 0.2
pid_deriv_time: 2.0
target_temp: 75.0
max_speed: 1.0
min_speed: 0.0

[output_pin Nevermore]
pin: PF6
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0

[heater_fan Nevermore]     # nevermore auto activate
pin: PF6
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 90.0

[temperature_fan Bedfans]     # bedfans temp control
pin: PF8
cycle_time: 0.01
hardware_pwm: false
reverse: true 
kick_start_time: 0.5
max_power: 1
max_speed: 1.0
min_speed: 0
shutdown_speed: 0
sensor_type: MAX31865
sensor_pin: PG14
spi_speed: 4000000
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
min_temp: 0
max_temp: 120
control: pid
pid_Kp: 4.0
pid_Ki: 1
pid_Kd: 0.2
pid_deriv_time: 2.0
target_temp: 0.0
max_speed: 1.0
min_speed: 0.0

# [temperature_fan StepperFan]     # stepper_fans
# pin: PA4
# cycle_time: 0.01
# hardware_pwm: false 
# max_power: 1
# max_speed: 1.0
# min_speed: 0
# shutdown_speed: 0
# sensor_type: PT1000
# pullup_resistor: 2200
# sensor_pin: PB0
# min_temp: 0
# max_temp: 125
# control: pid
# pid_Kp: 4.0
# pid_Ki: 1
# pid_Kd: 0.2
# pid_deriv_time: 2.0
# target_temp: 100.0
# max_speed: 0.55
# min_speed: 0.0

# [output_pin StepperFan]
# pin: PA4
# pwm: True
# cycle_time: 0.01
# hardware_pwm: false
# value: 0.00
# scale: 255


[controller_fan driver_fan]
pin: rpi:gpio26
kick_start_time: 1
fan_speed: 1
idle_timeout: 10
idle_speed: 0.2
stepper: stepper_x

[output_pin driver_fan]
pin: rpi:gpio26
pwm: true
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255

[fan_generic right-aux]
pin: PA6
hardware_pwm:true
tachometer_pin: PC2
kick_start_time: 0.2

[fan_generic left-aux]
pin: PA2
hardware_pwm:true
tachometer_pin: PC1
kick_start_time: 0.2

[multi_pin _aux-fans]
pins: PA6, PA2

[fan_generic Aux-Fans]
pin: multi_pin:_aux-fans
kick_start_time: 0.2

#####################################################################
# 	LED Control
#####################################################################

[output_pin LED_Back]
pin: PA0
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.0005 # 0.008333

[output_pin LED_Main]
pin: PA5
pwm:true
shutdown_value: 0
value:0.01
cycle_time: 0.0005

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[safe_z_home]
home_xy_position:144,150
speed:500
z_hop:5

[z_tilt]
z_positions:
  -60, 10
  144, 348
  360, 10
points:
  30, 5
  150, 245
  270, 5
speed: 500
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

[bed_mesh]
zero_reference_position: 145, 150
speed: 500
horizontal_move_z: 10
mesh_min: 30,25
mesh_pps: 1,1
mesh_max: 260, 275
# probe_count: 20,20
probe_count: 40,10
algorithm: bicubic
bicubic_tension: 0.2

[adxl345]                             # canbus accelerometer
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,z,y

[adxl345 flynozzle]
cs_pin: flyadxl:gpio9
spi_software_sclk_pin: flyadxl:gpio10
spi_software_mosi_pin: flyadxl:gpio11
spi_software_miso_pin: flyadxl:gpio12

[adxl345 carto]
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
# accel_chip: adxl345            # toolhead
# accel_chip: adxl345 carto      # carto
accel_chip: adxl345 flynozzle # nozzle adxl
accel_per_hz: 125        # 75 default, 100 for more accurate testing
min_freq: 10
max_freq: 145

sweeping_period: 1.2
sweeping_accel: 400

probe_points:
   145,150,10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.647
#*# pid_ki = 2.777
#*# pid_kd = 288.898
#*#
#*# [extruder]
#*# block_heat_capacity = 21.0395
#*# sensor_responsiveness = 0.0890265
#*# ambient_transfer = 0.125394
#*# fan_ambient_transfer = 0.125394, 0.138798, 0.147041, 0.156026, 0.159385, 0.167311, 0.170226, 0.175514, 0.177355
#*# control = mpc
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.094001, 0.084342, 0.086548, 0.072823, 0.072054, 0.064537, 0.060768, 0.056216, 0.047388, 0.041058, 0.033144, 0.029326, 0.025504, 0.019121, 0.019121, 0.017842, 0.015769, 0.014002, 0.013212, 0.010647, 0.011929, 0.010158, 0.011441, 0.011930, 0.011930, 0.014490, 0.015281, 0.016561, 0.015769, 0.017049, 0.015769, 0.016561, 0.017842, 0.020400, 0.025508, 0.032660, 0.044857, 0.056216, 0.075324, 0.086068
#*# 	  0.095524, 0.085303, 0.080319, 0.075324, 0.070803, 0.066566, 0.063281, 0.052433, 0.045343, 0.037739, 0.031872, 0.028052, 0.026780, 0.023441, 0.020400, 0.019121, 0.019121, 0.017842, 0.017049, 0.015769, 0.016257, 0.020400, 0.021678, 0.026780, 0.029326, 0.029326, 0.026780, 0.022955, 0.021374, 0.020400, 0.020400, 0.017842, 0.021678, 0.030113, 0.041544, 0.056216, 0.072823, 0.093522, 0.106177, 0.111865
#*# 	  0.091802, 0.088555, 0.077823, 0.074075, 0.070034, 0.065311, 0.057476, 0.049909, 0.042810, 0.033928, 0.028052, 0.020400, 0.016561, 0.014491, 0.010647, 0.009363, 0.005997, 0.005997, 0.004710, 0.004710, 0.004220, 0.005507, 0.004710, 0.006793, 0.005997, 0.008568, 0.008078, 0.008078, 0.008078, 0.008078, 0.009852, 0.009852, 0.013212, 0.015769, 0.024232, 0.032660, 0.041544, 0.048649, 0.056993, 0.057476
#*# 	  0.081566, 0.079840, 0.075324, 0.070320, 0.067817, 0.061542, 0.054956, 0.049909, 0.043592, 0.037252, 0.028052, 0.024232, 0.018817, 0.015769, 0.008568, 0.008873, 0.004710, 0.002139, -0.001724, -0.000435, -0.000435, -0.001724, -0.003015, -0.001724, 0.000056, -0.000742, -0.001724, 0.000850, 0.000854, 0.002627, 0.003424, 0.007282, 0.009852, 0.015281, 0.019121, 0.028840, 0.037739, 0.044857, 0.046123, 0.039790
#*# 	  0.088075, 0.081851, 0.080319, 0.072823, 0.067047, 0.062799, 0.056216, 0.052434, 0.046123, 0.041544, 0.037252, 0.028052, 0.021374, 0.015769, 0.009852, 0.002139, -0.000435, -0.002032, -0.005598, -0.005905, -0.008180, -0.007688, -0.006890, -0.006890, -0.005106, -0.004306, -0.003322, -0.001724, 0.000854, 0.002937, 0.002139, 0.001652, 0.000854, 0.003424, 0.005997, 0.010647, 0.014491, 0.017842, 0.020400, 0.022955
#*# 	  0.098002, 0.091802, 0.087312, 0.082332, 0.077344, 0.072054, 0.065792, 0.062025, 0.054956, 0.048649, 0.041544, 0.036469, 0.030599, 0.024232, 0.020400, 0.017049, 0.014491, 0.009363, 0.005997, 0.006793, 0.007282, 0.003424, 0.003424, 0.004710, 0.003426, 0.002139, 0.002139, 0.004220, 0.003424, 0.004710, 0.005507, 0.009363, 0.011135, 0.013212, 0.017049, 0.022651, 0.022955, 0.026780, 0.028052, 0.030599
#*# 	  0.121695, 0.116028, 0.109877, 0.104185, 0.099239, 0.094284, 0.086068, 0.080319, 0.075324, 0.065792, 0.059510, 0.052434, 0.047388, 0.046123, 0.041058, 0.038226, 0.035199, 0.030599, 0.025508, 0.022955, 0.022955, 0.022955, 0.021678, 0.020400, 0.021678, 0.017840, 0.014491, 0.015771, 0.020400, 0.024232, 0.026780, 0.029326, 0.031872, 0.034712, 0.036469, 0.037739, 0.041058, 0.041544, 0.044563, 0.042326
#*# 	  0.151221, 0.145157, 0.136642, 0.130263, 0.124145, 0.118487, 0.108645, 0.101713, 0.094284, 0.086548, 0.082332, 0.079072, 0.070320, 0.065792, 0.064056, 0.059510, 0.059993, 0.062024, 0.064056, 0.062025, 0.056993, 0.053212, 0.053695, 0.048649, 0.044078, 0.039790, 0.039790, 0.035982, 0.037739, 0.036956, 0.040277, 0.039008, 0.040277, 0.041544, 0.046123, 0.051172, 0.052434, 0.053695, 0.051172, 0.047388
#*# 	  0.165987, 0.162835, 0.161163, 0.153911, 0.148797, 0.139551, 0.132984, 0.129791, 0.119241, 0.113571, 0.109120, 0.106936, 0.101236, 0.098002, 0.096763, 0.100477, 0.099239, 0.096763, 0.091802, 0.088075, 0.087312, 0.080319, 0.074075, 0.067527, 0.058734, 0.057476, 0.053695, 0.052434, 0.052434, 0.051172, 0.047388, 0.049909, 0.051172, 0.051172, 0.054956, 0.055732, 0.056216, 0.052434, 0.052434, 0.052434
#*# 	  0.217989, 0.211834, 0.204738, 0.200456, 0.191406, 0.189023, 0.179199, 0.173199, 0.168394, 0.163578, 0.151962, 0.150751, 0.142728, 0.137861, 0.133455, 0.132234, 0.129791, 0.125370, 0.119241, 0.114325, 0.108644, 0.102473, 0.097241, 0.089798, 0.086068, 0.084823, 0.080319, 0.080319, 0.077344, 0.075324, 0.076574, 0.072344, 0.071572, 0.071572, 0.069067, 0.072823, 0.067817, 0.066566, 0.065311, 0.069067
#*# x_count = 40
#*# y_count = 10
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 260.0
#*# min_y = 25.0
#*# max_y = 275.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4831369499345983,1.9700925922058103,0.8624182158429776,0.3975057328408315,0.350406563112455,0.415785869057678,-0.08973511505769408,-0.30112089338120696,0.1948165647269473,0.22185131394277582
#*# domain = 3.284028236212807e-07,3.425585393746074e-07
#*# z_offset = 0
#*# reference_temperature = 33.59
#*#
#*# [cartographer touch_model default]
#*# threshold = 725
#*# speed = 2
#*# z_offset = -0.05
